#weathersecton{
    border-radius: 50px;
}

#branch{

    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
    margin: 2rem 0;
    max-width: 1280px;
    margin: 0 auto;
    padding: 5rem;
    background: #fff;
    text-align: center;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}